.totalContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    font-size: 1.4rem;
    font-weight: 700;
}

footer {
    border-top: 2px solid grey;;
}

footer button {
    margin: 1.2em auto 0.2em;
    display: block;
    padding: 0.5em 0.9em;
    color: #ffff;
    background: #c86578;
    border: none;
    border-radius: 1.5em;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}